node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yml
coverage
.nyc_output
.vscode
.idea
.log
logs
dist
build